<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <h3>배열을 이용한 for 디렉티브</h3>
            <li v-for="item in myArray" v-bind:class="item">{{ item }}</li>
        </ul>
        <ul>
            <h3>객체로 값을 구성한 배열을 이용한 for 디렉티브</h3>
            <li v-for="obj in objArray">{{ obj.name }} || {{ obj.price }}</li>
        </ul>
        <ul>
            <h3>단순히 태그를 반복하는 경우</h3>
            <li v-for="n in 10">{{n}} * 3 = {{ n* 3 }}</li>
        </ul>
        <ul>
            <h3>인덱스를 사용하는 경우</h3>
            <li v-for="(item, index) in myArray">{{ index + ' : ' + item }}</li>
        </ul>
        <hr>
        <ul v-for="dan in 9">
            <h1>{{ dan }} 단 입니다.</h1>
            <li v-for="num in dan">{{ dan }} X {{ num }} = {{ dan * num }}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el : '#app',
            data : {
                myArray : ['설악산', '한라산', '북한산', '백두산', '지리산'],
                objArray : [
                    { name : '슈크림빵', price : 1000},
                    { name : '단팥빵', price : 1200},
                    { name : '크로와사', price : 1500}
                ]
            }
        })
    </script>
    <div id="app2">
        <h3>관심 받고 이는 언어 랭킹</h3>
        <table>
            <thead>
                <th v-for="item in header">{{ item }}</th>
            </thead>
            <tbody>
                <tr v-for="line in ranking">
                    <!-- line : [] -->
                    <td v-for="item in line">{{ item }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        let headerData = ['프로그래밍 언어', 2018, 2013, 2008, 2003, 1998];
        let rankingData = [
            ['Java', 1,2,1,1,16],
            ['C', 2,1,2,2,1],
            ['C++', 3,4,3,3,2],
            ['Python', 4,7,6,11,23],
            ['JavaScript', 7,10,8,7,20]
        ];
        
        new Vue({
            el : '#app2',
            data : {
                header : headerData,
                ranking : rankingData
            }
        })
    </script>
    <div id="app3">
        <h3>목록을 구성하는 데이터 변경 시 목록 업데이트</h3>
        <ul>
            <li v-for="item in myArray">{{ item }}</li>
        </ul>
        <button @click="addLast">맨 뒤에 추가</button>
        <button @click="addObj(3)">네번째에 추가</button>
        <button @click="changeObj(0)">첫번째를 변경</button>
        <button @click="deleteObj(1)">두번째를 삭제</button>
    </div>
    <script>
        let data = ['첫번째', '두번째', '세번째', '네번째', '다섯번째'];
        new Vue({
            el : '#app3',
            data : {
                myArray : data
            },
            methods : {
                addLast : function(){
                    // myArray : 맨 뒤에 '[맨 뒤에 추가]' 추가
                    //this.myArray[this.myArray.length] = '[맨 뒤에 추가]';
                    this.myArray.push('[맨 뒤에 추가]');
                },
                addObj : function(index){
                    // myArray : 정해진 인덱스에 '[추가]' 추가
                    this.myArray.splice(index, 0, '[추가]');
                },
                changeObj : function(index){
                    // myArray : 정해진 인덱스에 텍스트 값을 '[변경]' 수정
                    this.myArray.splice(index, 1, '[변경]');
                },
                deleteObj : function(index){
                    // myArray : 정해진 인덱스에 값을 삭제
                    this.myArray.splice(index, 1);
                }
            }
        })
    </script>
</body>
</html>