<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
</head>
<body>
    <div id="test">
        <child-component message="외부로부터 건네받은 데이터">
            <p> 부모 객체에서 정의한 태그 </p>
        </child-component>
    </div>
    <script>
        const childComponent = {
            template : `<div>
                            {{ message }}
                            <slot></slot>
                        </div>`,
            props : ['message']
        }

        new Vue({
            el : '#test',
            components : {
                'child-component' : childComponent
            }
        })
    </script>
    <div id="app">
        <input type="text" v-model="message">
        <my-component v-bind:text="message">
            <p slot="header"><em>헤더입니다.</em></p>
            <h3 slot="footer">푸터입니다.</h3>
        </my-component>
    </div>
    <script>
        const component = {
            template : `<div>
                            <slot name="header"></slot>
                            <br>
                            <h1>컴포넌트 데이터입니다.</h1>
                            {{ text }}
                            <br>
                            <slot name="footer"></slot>
                        </div>`,
            props : ['text']
        }

        new Vue({
            el : '#app',
            data : {
                message : ''
            },
            components : {
                'my-component' : component
            }
        })
    </script>
    <div id="app2">
        <!--
        <form-component v-bind:author="authorLabel"
                        v-bind:title="titleLabel">
            <h1>{{ header }}</h1>
        </form-component>
        -->
        <form-component>
            <h1>{{header}}</h1>
            <label for="title" slot="titleSlot">{{titleLabel}}</label>
            <label for="author" slot="authorSlot">{{authorLabel}}</label>
        </form-component>
    </div>
    <script>
        const formComponent = {
            template : `<div>
                            <form>
                                <slot></slot>
                                <!--<label for="title">{{title}}</label>-->
                                <slot name="titleSlot"></slot>
                                <input id="title" type="text"><br>
                                <!--<label for="author">{{author}}</label>-->
                                <slot name="authorSlot"></slot>
                                <input id="author" type="text"><br>
                                <button>제출하기</button>
                            </form>
                        </div>`
            // props : ['title', 'author']
        }

        new Vue({
            el : '#app2',
            data : {
                titleLabel : '제목 : ',
                authorLabel : '저자 : ',
                header : '책 저자 폼'
            },
            components : {
                'form-component' : formComponent
            }
        })
    </script>
    <div id="app3">
        <book-component v-bind:book-list="books">
            <h1 slot="header">{{header}}</h1>
            <template slot="book" slot-scope="data">
                <h2>
                    <i>{{data.text.title}}</i>
                    <small>by : {{data.text.author}}</small>
                </h2>
            </template>
        </book-component>
    </div>
    <script>
        const bookComponent = {
            template : `<div>
                            <slot name="header"></slot>
                            <slot name="book"
                                  v-for="book in bookList"
                                  v-bind:text="book">
                            </slot>
                        </div>`,
            props : ['bookList']
        }

        new Vue({
            el : '#app3',
            data : {
                header : '책 제목',
                books : [
                    {author : 'John Smith', title : 'Best of Times'},
                    {author : 'Jane Doe', title : 'Go West Young Man'},
                    {author : 'Avery Katz', title : 'The Life And Times of Avery'}
                ]
            },
            components : {
                'book-component' : bookComponent
            }
        })
    </script>
</body>
</html>